<div class="mx-auto mt-10 flex flex-col items-center">
    <%= form_for @user do |f| %>
        <p class="mt-5">
            <%= f.label :username, class:"px-3" %><br>
            <%= f.text_field :username, class:"rounded-xl" %>
        </p>

        <p class="mt-5">
            <%= f.label :email, class:"px-3" %><br>
            <%= f.email_field :email, class:"rounded-xl" %>
        </p>

        <p class="mt-5">
            <%= f.label :first_name, class:"px-3" %><br>
            <%= f.text_field :first_name, class:"rounded-xl" %>
        </p>
   
        <p class="mt-5">
            <%= f.label :last_name, class:"px-3" %><br>
            <%= f.text_field :last_name, class:"rounded-xl" %>
        </p>

        <div class="flex justify-around">
                <%= link_to 'Cancel', users_path, class:"mt-5 text-center px-5 py-3 rounded-xl bg-gray-900 text-white hover:text-gray-900 hover:bg-white border-2 border-gray-900 transition duration-200" %>
            
                <%= f.submit class:"mt-5 text-center px-5 py-3 rounded-xl bg-gray-900 text-white hover:text-gray-900 hover:bg-white border-2 border-gray-900 transition duration-200" %> 
        </div>
    <% end %>
</div>