<div class="mx-auto mt-10 flex flex-col items-center">
    <%= form_with(model: @post, local: true) do |f| %>
        <p class="mt-5">
            <%= f.label :content, class:"px-3" %><br>
            <%= f.text_area :content, class:"rounded-xl" %>
        </p>

        <div class="mt-10 flex justify-around">
            
                <%= link_to 'Cancel', posts_path, class:"text-center px-5 py-3 rounded-xl bg-gray-900 text-white hover:text-gray-900 hover:bg-white border-2 border-gray-900 transition duration-200" %>
           
            
                <%= f.submit "Create Post", class:"text-center px-5 py-3 rounded-xl bg-gray-900 text-white hover:text-gray-900 hover:bg-white border-2 border-gray-900 transition duration-200" %>
            
        </div>
    <% end %>
</div>